/* --- Mostly for fonts nothing special --- */
* {
  font-size: 16px;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";
}

/* --- Waybar Styles --- */
window#waybar {
  color: #cdd6f4;
  background: #191724;
}

/* workspaces module styles */
#workspaces,
#custom-system-monitor {
  margin: 0px 10px;
}

#custom-system-monitor {
    padding: 0 10px;
    color: #cdd6f4; /* Text (Mocha) */
    background-color: #1e1e2e; /* Base (Mocha) */
    border-radius: 5px;
    margin: 0 5px;
}

#custom-system-monitor:hover {
    background-color: #313244; /* Surface 1 (Mocha) */
    color: #f5e0dc; /* Flamingo (Mocha) for hover */
}

/* For workspace button*/
#workspaces button {
  /* Changing the padding will effect default padding */
  color: #b4befe;
}

#workspaces button:hover {
  background: transparent;
  color: #f2d5cf;
  border: transparent;
  box-shadow: none;
}

#workspaces button.active {
  color: #f2d5cf;
}

#workspaces button.urgent {
  color: #a6e3a1;
}

#battery.warning {
    color: #fab387;
}


#battery.critical {
    color: #f38ba8;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

#backlight,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-power {
  margin-left: 20px;
}

#network.wifi {
    color: #94e2d5;
}

#network.ethernet {
    color: #74c7ec;
}

#network.disconnected {
    color: #f38ba8;
}

#bluetooth {
  color: #f2d5cf;
}

#bluetooth.disabled {
  color: #f38ba8; /* Pink, to indicate off/disabled */
}

#pulseaudio {
  color: #89b4fa; /* headphone, speaker, and microphone */
}

#battery {
  color: #a6e3a1;
}

#custom-power {
  color: #b4befe;
  margin-right: 20px;
}


/* Main taskbar container */
#taskbar {
    background: transparent; /* No background */
    padding: 0;                  /* No padding */
}

#taskbar.empty {
    min-width: 0;                /* Collapse when empty */
    background: transparent; /* No background */
    background-color: transparent; /* No background */
}

#taskbar button {
    background: transparent;
}

#taskbar button:focus,
#taskbar button:active {
    outline: none;
}
